#card{
  .container{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    width: 311px;
    height: 267px;
    left: 28px;
    top: 316px;
    background: #F7F6EE;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  .img{
    width: 55%;
    height: 100%;
    float: left;
    border-radius: 40px 0 0 40px;
    overflow: hidden;
    background: url(https://cdn.clm02.com/ezvivi.com/290681/290681_1.jpg)no-repeat center/cover;
  }

  .text{
    width: 45%;
    height: 100%;
    border-radius: 0 40px 40px 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: #60827B;
    float: right;
    box-sizing: border-box;
    padding: 15px 15px 15px 15px;
    letter-spacing: 1.2px;
  }

  .text p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .text span{
    font-size: 16px;
    font-weight: 300;
  }

  .card2{
    width: 267px;
    height: 311px;
    left: 381px;
    top: 49px;
    background: #F7F6EE;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    overflow: hidden;
  }

  .imgWrap{
    width: 100%;
    height: 55%;
    float: top;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
  }

  .img2{
    width:100%;
    height:100%;
    background: url(https://cdn.clm02.com/ezvivi.com/290681/290681_1.jpg)no-repeat center/cover;
    transition: 0.7s;

    &:hover{
      transform: scale(1.1);
    }
  }

  .text2{
    width: 100%;
    height: 45%;
    border-radius: 0 40px 40px 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: #60827B;
    float: bottom;
    box-sizing: border-box;
    padding: 15px 15px 15px 15px;
    text-align: justify;
  }

  .text2 p{
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .text2 span{
    // font-size: 16px;
    font-weight: 300;
  }

  .card3{
    width: 311px;
    height: 267px;
    // left: 27px;
    // top: 627px;
    border-radius: 40px;
    /* box-shadow: inset 0px -117px 13px 1px rgba(0, 0, 0, 0.28); */
    overflow: hidden;
    position: relative;
    &:hover .shadow{
      opacity: 1;
      bottom: 0;
    }
  }

  .img3{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    background: url(https://cdn.clm02.com/ezvivi.com/290681/290681_1.jpg)no-repeat center/cover;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.28);
    position: relative;
    transition: 0.7s;

    &:hover{
      transform: scale(1.1);
    }
  }

  .text3{
    // box-shadow: inset 0px -117px 13px 1px rgba(0, 0, 0, 0.28);
    /* display:table-cell; 
    vertical-align:bottom; */
    position: absolute;
    bottom: 0;
    padding: 15px 15px 25px 15px;
    text-align: justify;
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;
  }	

  .text3 p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .text3 span{
    font-size: 16px;
    font-weight: 300;
  }

  .shadow{
    opacity: 0;
    position: absolute;
    width:100%;
    height:40%;
    background: rgba(0,0,0,0.3);
    bottom:-40%;
    transition: 0.7s;
  }
}