#checkbox {
  // @font-face{
  //   font-family: 'check';
  //   src: url('/public/Fashion Fetish Regular.ttf');
  // }

  input[type=checkbox] {
  // margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 14px;
  height: 12px;
  position: relative;
  }

  input[type=checkbox]::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 12px;
  top: 0;
  background-color: #eee;
  border:1px solid #777;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  }

  input[type=checkbox]:hover::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 12px;
  top: 0;
  background-color: #eee;
  border:1px solid #777;
  box-shadow:0 0 1px 2px rgba(96, 130, 123,0.4);
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  }

  input[type=checkbox]:checked::before {
  content: "✓";
  // font-family: 'check';
  font-size: 8px;
  line-height: 15px;
  position: absolute;
  width: 6px;
  height: 12px;
  top: 0;
  left: 2.5px;
  z-index: 99;
  color: #fff;
  display: inline-block;
  visibility: visible;
  border-radius: 3px;
  }

  input[type=checkbox]:checked::after {
  // content: "v";
  content: "";
  font-family: 'Balsamiq Sans', cursive;
  font-size: 8px;
  line-height: 12px;
  position: absolute;
  width: 6px;
  height: 12px;
  top: 0;
  background-color: #84A295;
  border:1px solid #777;
  color: #fff;
  display: inline-block;
  visibility: visible;
  border-radius: 3px;
  }

}

#checkbox-circle{
  input[type=checkbox] {
    // margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 14px;
    height: 12px;
    position: relative;
    }
  
    input[type=checkbox]::after {
    content: " ";
    position: absolute;
    width: 8px;
    height: 14px;
    top: -2px;
    left:-1px;
    border-radius: 8px;
    background-color: #eee;
    border:1px solid #777;
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    }
  
    input[type=checkbox]:hover::after {
    content: " ";
    position: absolute;
    width: 8px;
    height: 14px;
    top: -2px;
    left:-1px;
    border-radius: 8px;
    background-color: #eee;
    border:1px solid #777;
    box-shadow:2px 2px 2px rgba(96, 130, 123,0.4);
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    }
  
    // 原點
    input[type=checkbox]:checked::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $darkGreen;
    top: 3px;
    left: 4px;
    z-index: 99;
    display: inline-block;
    visibility: visible;
    }
  
    // input[type=checkbox]:checked::after {
    // // content: "v";
    // content: "";
    // font-family: 'Balsamiq Sans', cursive;
    // font-size: 8px;
    // line-height: 12px;
    // position: absolute;
    // width: 8px;
    // height: 14px;
    // top: -2px;
    // left:-1px;
    // border-radius: 8px;
    // background-color: #84A295;
    // border:1px solid #777;
    // color: #fff;
    // display: inline-block;
    // visibility: visible;
    // }
}