#pagination{
  #lists {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  #list {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  #button-group {
    display: flex;
    justify-content: center;
    .dotWrap{
      color:$darkGreen;
      margin-left:10px;
      letter-spacing:2px;
    }
  }
  .btn {
    box-sizing: border-box;
    // padding: 0 15px;
    cursor: pointer;
    user-select: none;
    // border: 2px solid rgba(0,0,0,0.2);
    background: $lightGreen;
    border-radius: 100%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    transition: 0.4s;
    &:active {
      background:$darkGreen;
    }
    &:hover{
      background-color: $green;
      transform: scale(1.2);
    }
    .numWrap{
      width:auto;
      height :30px;
      line-height :30px;
      font-size: 16px;
      color:white;
    }
  }
  
  .active {
    background-color: $darkGreen;
    color: white;
  }
}

// darkPagination----------------------------------------------------
#darkPagination{
  #lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #list {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  #button-group {
    display: flex;
    justify-content: center;
    margin: auto;
    background: $green;
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    width:fit-content;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: transparent;
    padding: 10px;
    color: white;
    width: 30px;
    margin-left: 1%;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    &:active {
      border: 2px solid $darkGreen;
    }
    &:hover{
      background-color: rgba(0,0,0,0.1);
    }
  }
  .active {
    background-color: $darkGreen;
    color: white;
  }
}