
#table{
  .sortIcon{
    float: right;
  }
  .selectTd{
    width: 30rem;
    text-align: center;
    justify-content: center;
  }
  .index{
    width: 10rem;
    text-align: center;
    justify-content: center;
  }
  .inputIcon{
    width: 50%;
    margin: 0.2rem;
  }
  .ok{
    margin: 0.2rem;
  }
  .search{
    width: 100%;
    text-align: center;
    .searchIcon{
    width: 80%;
    margin: 1rem;
    }
  }
  table{
    transition: 0.3s;
    width: 100%;
    padding: 0;
    border: 0;
    thead{
      text-align: center;
      font-size: 1.5rem;
      border: 0;
    }
    tbody{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      border: 0;
      th{
        width: 100%;
        font-weight: 500;
        display: flex;
        padding: 5px;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        td{
          width: 100%;
          border: 0;
          text-align: left;
          padding-left: 10px;
          .size{
            font-size: 22px !important;
            font-weight: 300 !important;
            padding-left: 5px;
            line-height: 60px !important;
            padding-top: 5px;
          }
        }
      }
      tr{
        width: 100%;
        display: flex;
        justify-content: space-around;
        border: 0;
        padding: 5px;
        td{
          width: 100%;
          display:flex;
          justify-content:start;
          align-items: center;
          flex-wrap: wrap;
          border: 0;
          padding-left: 10px;
          color: $darkGreen;
          .td{
            width: 100%;
          }
        }
      }
      tr:last-child{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      tr:hover{
        transform: translate(-0.2%,-1%);
        background: #EFDB96 !important;
        transition: 0.7s;
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.15) ;
      }
    }
  }
}
