@charset "UTF-8";
/* 主題色 */
/* 黑色透明 */
/* 白色透明 */
/* 陰影 */
/* 內距、外距級數 */
#pagination #lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pagination #list {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pagination #button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pagination #button-group .dotWrap {
  color: #60827B !important;
  margin-left: 10px;
  letter-spacing: 2px;
}

#pagination .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #B7CDC2 !important;
  border-radius: 100%;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#pagination .btn:active {
  background: #60827B !important;
}

#pagination .btn:hover {
  background-color: #84A295 !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#pagination .btn .numWrap {
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: white;
}

#pagination .active {
  background-color: #60827B !important;
  color: white;
}

#darkPagination #lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#darkPagination #list {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#darkPagination #button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background: #84A295 !important;
  height: 30px;
  border-radius: 30px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#darkPagination .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  padding: 10px;
  color: white;
  width: 30px;
  margin-left: 1%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#darkPagination .btn:active {
  border: 2px solid #60827B !important;
}

#darkPagination .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#darkPagination .active {
  background-color: #60827B !important;
  color: white;
}

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
